<h1 class="project-name"></h1>
      <!-- <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2> -->
    
    <div class="vt_img_container">
    	<a target="_blank" href="https://www.vt.edu/" class="header_img_vt"> <img src="images/VT_Maroon_1872_1_2.png" class="header_img_vt"/> </a>
    </div>
    <div class="github_img_container">
    	<a target="_blank" href="https://github.com/VirginiaTech" class="header_img_github"> <img src="images/GitHub-Mark-Light-64px.png" class="header_img_github"/> </a>
    </div>
    
    <a href="{{ site.baseurl }}{% link index.md %}" class="btn">Home</a>

    <a href="{{ site.baseurl }}{% link faq.md %}" class="btn">FAQ</a>
    <a href="{{ site.baseurl }}{% link licensing.md %}" class="btn">Licensing</a>
    <a href="{{ site.baseurl }}{% link join_organization.md %}" class="btn">Join Organization</a>
    <a href="{{ site.baseurl }}{% link add_repository.md %}" class="btn">Add Repository</a>
    <a href="{{ site.baseurl }}{% link about_us.md %}" class="btn">About Us</a>